{% extends 'base.html' %}
{% load static %}

{% block title %} About Us {% endblock title %}

{% block content %}
<div class="container">
    <h1>Bonus Stage</h1>
    <p>Fans of the street fighter series</p>

    <div class="slideshow-container">
       
        <div class="slide">
            <div class="video-container">
                <!-- Paste the YouTube iframe code here -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/bPP6VU6zVHU?si=IorKDgv-SxgNqbuO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}